body{
    background-color: brown;
}
h4{
    font-size: 60px;
}
#the_show_must_go_on{
    background-color: greenyellow;
    }
#survive_the_night{
    background-color: red;
    color: white;
}
#the_mangle{
    background-color: white;
    color: magenta;
}
#bonnie_song{
    background-color: purple;
    color: magenta;
}
#springtrap_finale{
    background-color: black;
    color: gold;
}
#i_am_the_purple_guy{
    background-color: purple;
    color: white;
}
#Fnaf_2_song_alternative_metal_cover{
    background-color: steelblue;
    color: white;
}
#always_wanted{
    background-color: plum;
    color: white;
}
