body{
    background-color: aqua;
}
#ghost_rule{
    background-color: blueviolet;
}
 h4{
    font-size: 40px;
}
#leaping_from_0_to_infinity{
    background-color: skyblue;
}
#ending_medly{
    background-color: gray;
    color: white;
}
#the_intense_voice_of_hatsune_miku{
    background-color: lightcyan;
}
#the_disappearance_of_hatsune_miku{
    background-color: darkcyan;
}
#odds_and_ends{
    background-color: aquamarine;
}
#black_rock_shooter{
    background-color: black;
    color: blueviolet;
}
#sadistic_music_factory{
    background-color: crimson;
    color: purple;
}